

  
  .carousel-button {
    background-color: transparent;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
  }
  
  .carousel-button.prev {
    left: 40px; /* Adjust left position as needed */
  }
  
  .carousel-button.next {
    right: 40px; /* Adjust right position as needed */
  }

  .dark-mode .carousel-button {
    color: rgb(43, 43, 43);
  }
  
  .light-mode .carousel-button {
    color: white;
  }
  
  .carousel-image {
    width: 380px;
    bottom: 430px;
    height: 300px;
    margin: 20px auto;
    display: block;
    position: relative;
    transition: box-shadow 0.5s ease; /* Transition for box shadow */
    animation: slideInRight 1s ease forwards; /* Animation for entering */
    
  transition: box-shadow 0.5s ease; /* Transition for box shadow */
  animation: slideInRight 1s ease forwards; /* Animation for entering */
  }

  .dark-mode .carousel-image {
    box-shadow: 0 0 40px rgba(7, 7, 7, 0.5); /* Initial shadow */
  }
  
  .light-mode .carousel-image {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); /* Initial shadow */
  }

  
  
  @keyframes glowAnimation {
    0% {
      box-shadow: 0 0 10px #000000;
    }
    50% {
      box-shadow: 0 0 20px #000000;
    }
    100% {
      box-shadow: 0 0 10px #000000;
    }
  }