:root {
    --dark-background-color: hsl(150, 7%, 5%); /* Dark mode background color */
    --dark-secondary-color: #091C17; /* Dark mode secondary background color */
    --dark-text-color: #091C17; /* Dark mode text color */
    
    --light-background-color: #0D0F0E; /* Light mode background color */
    --light-secondary-color: #091C17; /* Light mode secondary background color */
    --light-text-color: #5AE7B4; /* Light mode text color */
  }

  
  
  .light-mode {
    --background-color: var(--light-background-color);
    --secondary-color: var(--light-secondary-color);
    --text-color: var(--light-text-color);
  }

  .light-mode-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }

  .dark-mode-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  
  
  .container1 {
    display: flex;
    padding-top: 3.5%;
    background: linear-gradient(to bottom, var(--background-color) 70%, var(--secondary-color) 100%);
    overflow-y: auto;
    overflow-x: auto;
  }




  .left-column1000 {
    animation: slideInLeft 1s ease forwards;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    overflow: hidden;
    
  }
  
  
  .right-column1000 {
    animation: slideInRight 1s ease forwards;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  

  
  .image-container {
    position: relative;
    width: 100%; /* Adjust the percentage as needed */
    height: 100%; /* Adjust the percentage as needed */
    bottom: 18%;
    left:10%;

  }
  





  .greeting {
    text-align: left;
  }
  
  .dark-mode .small1-text {
    color: #5AE7B4; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .small1-text{
    color: #353535; /* Dark color for light mode */
  }

  .dark-mode .large-text {
    color: #1c1c1c; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .large-text{
    color: #E1E1E1; /* Dark color for light mode */
  }

  .dark-mode .small-text20 {
    color: #353535; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .small-text20{
    color: #AFAFAF; /* Dark color for light mode */
  }

  .dark-mode .small-text {
    color: #27ba84; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .small-text{
    color:  #5AE7B4; /* Dark color for light mode */
  }
  
  

 

  .small1-text {
    font-family: 'Abhaya Libre', sans-serif;
    font-size:2vw;
    color: #5AE7B4;
    margin: 1vw 0;
  }
  
  .large-text {
    font-family: 'Amiko', sans-serif;
    font-size: 7vw;
    font-weight: bold;
    margin: 0;
  }

  .small-text20 {
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 1.65vw;
    margin: 3vw 0;
    margin-bottom: 7vw;
    
  }
  .shapes-image {
    position: relative;
    width: 700px;
    height: 900px;
    top:94px;
    right:50px;
    z-index: 0;
    opacity: 0.2;
    animation: electricityAnimation 0.5s ease-in-out forwards, glowAnimation 0.5s ease-in-out ;
    animation-delay: 1s;
    overflow: hidden;

}


.small-text {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 1.6vw;
  color: #5AE7B4;
  margin-bottom: 0.6vw;
  margin-top: 4vw;

}



  .image {
    position: relative;
    width: 58%; /* Adjust the percentage as needed */
    bottom: 105%; /* Adjust the percentage as needed */
    left: 17%; /* Adjust the percentage as needed */
    height: auto; /* Adjust the percentage as needed */
    z-index: 3; 
    
    transition: box-shadow 0.5s ease; /* Transition for box shadow */
    animation: slideInRight 1s ease forwards; /* Animation for entering */
    
  }

  .square-outline {
    position: absolute;
    top: 38%; /* Adjust the percentage as needed */
    left: 21%; /* Adjust the percentage as needed */
    width: 57%; /* Adjust the percentage as needed */
    height: 60%; /* Adjust the percentage as needed */
    border: 0.2vw solid #5AE7B4; /* Adjust the percentage as needed */
    z-index: 1;
    box-shadow: 0 0 4vw rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.5s ease;
  }

  @media (min-width: 1000px) {
    /* Adjust breakpoint as needed */
    .container1 {
      flex-direction: row; /* Aligns containers horizontally */
    }
  
    .left-column1000,
    .right-column1000 {
      flex: 1; /* Each container takes up equal width */
    }
  }
  
  

@keyframes electricityAnimation {
  0% {
      opacity: 0.2;
  }
  25% {
      opacity: 0.6;
  }
  50% {
      opacity: 0.2;
  }
  75% {
      opacity: 0.6;
  }
  100% {
      opacity: 0.2;
  }
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 10px #000000;
  }
  50% {
    box-shadow: 0 0 20px #000000;
  }
  100% {
    box-shadow: 0 0 10px #000000;
  }
}


.light-mode .image{box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); /* Initial shadow */}
.dark-mode .image{box-shadow: 0 0 40px rgba(14, 14, 14, 0.7); /* Initial shadow */}


.square-
/* Your existing CSS */

.container.scroll-active .left-column {
    animation: slideOutLeft 2s ease forwards;
  }
  
  .container.scroll-active .right-column {
    animation: slideOutRight 2s ease forwards;
  }
  
  @keyframes slideOutLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .container1.scroll-active .left-column {
    animation: slideOutLeft 2s ease forwards;
  }
  
  .container1.scroll-active .right-column {
    animation: slideOutRight 2s ease forwards;
  }
  
  @keyframes slideOutLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  

@keyframes shadowTransition {
    0% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    }
}



@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding in and out */
@keyframes slideOutLeft {
from {
  opacity: 1;
  transform: translateX(0);
}
to {
  opacity: 0;
  transform: translateX(-100%);
}
}

@keyframes slideOutRight {
from {
  opacity: 1;
  transform: translateX(0);
}
to {
  opacity: 0;
  transform: translateX(100%);
}
}




.container.scroll-active .left-column1000,
.container1.scroll-active .left-column1000 {
animation: slideOutLeft 2s ease forwards;
}

.container.scroll-active .right-column1000,
.container1.scroll-active .right-column1000 {
animation: slideOutRight 2s ease forwards;
}
.dark-mode .container1 {
  background: #eaeaea; /* Light color for dark mode */
}
