.block-list {
    margin: 5% auto; /* Auto margin to center */
    width: 70%; /* Set desired width */
  }
  
  .block {
    border-radius: 5px;
    padding: 1%;
    color: white;
    opacity: 0; /* Initially hide the blocks */
  }

  .block:nth-child(1) {
    animation: fadeInLeft 0.5s ease forwards;
    animation-delay: 0.1s;
  }
  
  .block:nth-child(2) {
    animation: fadeInLeft 0.5s ease forwards;
    animation-delay: 0.2s;
  }
  
  .block:nth-child(3) {
    animation: fadeInLeft 0.5s ease forwards;
    animation-delay: 0.3s;
  }

  .light-mode .light-text {
    color: black;
  }

  .dark-mode .myPortfolio-container {
    background: #eaeaea; /* Light color for dark mode */
  }

  .light-mode .myPortfolio-container {
    background: linear-gradient(to bottom, var(--background-color) 70%, var(--secondary-color) 100%); /* Dark color for light mode */; /* Light color for dark mode */
  }
  

  .block:nth-child(4) {
    animation: fadeInLeft 0.5s ease forwards;
    animation-delay: 0.4s;
  }
  
  .block:nth-child(5) {
    animation: fadeInLeft 0.5s ease forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  .header {
    background-color: #2DAC7E;
    padding-left: 3%; /* Adjust padding as a percentage of available width */
    padding-right: 3%; /* Adjust padding as a percentage of available width */
    padding-top: 1%; /* Adjust padding as a percentage of available height */
    padding-bottom: 1%; /* Adjust padding as a percentage of available height */
    font-size: 1.4vw;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 90%; /* Adjust width as a percentage of available width */
    height: auto; /* Adjust height dynamically based on content */
}

  .square-row {
    display: flex;
    margin-bottom: 8px;
  }
  .expand-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    font-size: 30px;
    color: white;
  }
  .expanded-description {
    padding-top: 3%;
    padding-left: 3%;
    align-items: center;
    padding-right: 3%;
    padding-bottom: 1%;
    border-radius: 10px;
    background-color: rgba(44, 101, 80, 0.3);
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: flex-start; /* Align items to start of column */
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 100px; /* Divide the container into two columns */
    width: 90%;
  }


  .dark-mode .description-text {color: rgb(28, 28, 28)}

  .light-mode .description-text {
    color: white; /* Dark color for light mode */
  }


  
  .description-text {
    font-size: 1.4vw;
    flex: 1;
    line-height: 2.2vw;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 5vw;
    
  }
  


  .large-image {
    width: 8vw;
  }


  
  

  
  .small-image {
    width: 8vw;
  }

  .award-container {
    padding-top: 10vw; /* Add space between description and award */
    clear: both; /* Ensure it clears any floated elements */
  }
  
  
  .additional-info {
    display: flex;
    flex-direction: row; /* Make the squares appear horizontally */
    justify-content: flex-start; /* Align squares at the start */
    margin-top: 1px;
    
  }

  .squares-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .squares-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2vw; /* Adjust spacing between rows */
  }
  
  
  
  .myPortfolio-container {
    position: relative;
    z-index: 0;
    height: 100%;
    padding-top: 0vw;
  }

  .container1000 {
    position: relative;
    z-index: 0;
    height: 660px;
    padding-top: 1px;
  }
  
  .bold {
    font-weight: bold;
    color: white;
  }
  
  .bold-title {
    font-weight: bold;
    color: white;
  }
  
  .large-text3 {
    font-family: 'Amiko', sans-serif;
    font-size: 6vw; 
    font-weight: bold;
    margin: 0px;
    text-align: center;
    padding-bottom: 1.5vw;
  }


  
  .large-text2 {
    font-family: 'Amiko', sans-serif;
    font-size: 6vw; 
    font-weight: bold;
    padding-top: 10vw;
    margin: 0px;
    text-align: center;
  }

  .dark-mode .large-text3 {
    color: #1c1c1c; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .large-text3{
    color: #E1E1E1; /* Dark color for light mode */
  }


  .dark-mode .large-text2 {
    color: #1c1c1c; /* Light color for dark mode */
  }
  
  /* Light Mode */
  .light-mode .large-text2{
    color: #E1E1E1; /* Dark color for light mode */
  }



  
  .info-square {
    background-color: #767676; /* Adjust the color as needed */
    opacity: 0.7;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 1vw; 
    
    margin-bottom: 1vw;
    font-size: 1.4vw;
    padding: 1vw 2vw; /* Adjust padding for squares */
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2); /* Add shadow */
    width: auto; /* Adjust width dynamically based on content */
    height: auto; /* Adjust height dynamically based on content */
}


